
body {
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

a{
     color:#000 !important;
     text-decoration: none !important;
}

.navbar-brand img{
    max-width: 200px;
    width: 100%;
}